@import "tailwindcss";

@theme {
    --color-main-dark: #807ece;
    --color-main-light: #8e7ece;

    --color-card: #2d2a37;

    --color-text-result: #ebebeb;
    --color-text-history: #6b6b6b;

    --color-button-normal: #2d2a37;
    --color-button-operation: #462878;
    --color-button-result: #7f45e2;
}

@layer base {
    * {
        font-family: "Rubik", sans-serif;
    }

    body {
        @apply flex justify-center items-center;
        background: linear-gradient(var(--color-main-dark)), var(--color-main-light);
        min-height: 100dvh;
    }

    button {
        @apply cursor-pointer text-2xl rounded-xl flex justify-center items-center uppercase h-16;
        box-shadow:
            0 11px 7px 0 rgba(0, 0, 0, 0.01),
            0 7px 7px 0 rgba(0, 0, 0, 0.04),
            0 4px 6px 0 rgba(0, 0, 0, 0.1),
            0 2px 4px 0 rgba(0, 0, 0, 0.26),
            0 0 2px 0 rgba(0, 0, 0, 0.29),
            inset 0 2px 3px 0 rgba(255, 255, 255, 0.06);
    }
}

@layer components {
    .card {
        @apply bg-card h-141.5 rounded-2xl;
        box-shadow:
            0 4px 4px 0 rgba(0, 0, 0, 0.25),
            0 188px 52px 0 rgba(0, 0, 0, 0.01),
            0 120px 48px 0 rgba(0, 0, 0, 0.04),
            0 68px 41px 0 rgba(0, 0, 0, 0.15),
            0 30px 30px 0 rgba(0, 0, 0, 0.26),
            0 8px 17px 0 rgba(0, 0, 0, 0.29),
            inset 0 6px 8px 0 rgba(255, 255, 255, 0.1),
            inset 0 -4px 5px 0 rgba(0, 0, 0, 0.22);
    }

    .btn-black {
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)), var(--color-button-normal);
    }
    .btn-light-purple {
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)), var(--color-button-result);
    }
    .btn-dark-purple {
        background:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0.05)), var(--color-button-operation);
    }
}
